body {
    background: #f2f2f2;
    position: relative;
}
.fa-book {
    margin-left: 5px;
}
.heroImage {
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.heroImage h1,
.heroImage h3 {
    text-shadow: 1px 1px 3px black;
}
#background {
    position: absolute;
    top: 60%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    overflow: hidden;
}
.container h1 {
    color: white;
}
.kenny-gif {
    border: 1px solid black;
    max-width: 225px;
}
.carousel-wrapper {
    background: #ddd;
}
.carousel-item img {
    box-shadow: 3px 3px 10px black;
}
footer {
    height: 75px;
}
.thank-you h1 {
    color: green;
}

.clickCounter {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8px;
    height: 8px;
    padding: 12px;
    margin: 1px;
    border-radius: 99px;
    color: #fff;
    background: dodgerblue;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    z-index: 99;
    position: absolute;
    box-shadow: #333 1px 1px 5px;
    text-shadow: #333 1px 1px 5px;
    opacity: 1;
    transition: opacity 12s;
  }


