#start-test:hover {
  color: #42DCA3;
  border-color: #42DCA3;
  position: relative;
  transform: translateY(-2px);
  transition: all .3s;
}

.usable-text {
  color: #42DCA3;
}

#submit {
  cursor: pointer;
}

.w50 {
  width: 50%;
}

.nav-link:hover {
  color: #42DCA3 !important;
}

.checkmark {
  position: relative;
  float: right;
  bottom: -40px;
  margin-right: 10px;
  right: -40px;
  font-size: 26px;
  color: green;
  opacity: 0;
  transition: all .3s;
}