#start-test:hover {
  color: #42DCA3;
  border-color: #42DCA3;
  position: relative;
  transform: translateY(-2px);
  transition: all .3s;
}

.usable-text {
  color: #42DCA3;
}

#submit {
  cursor: pointer;
}

.w50 {
  width: 50%;
}

.nav-link:hover {
  color: #42DCA3 !important;
}

.checkmark {
  position: relative;
  float: right;
  bottom: -40px;
  margin-right: 10px;
  right: -25px;
  font-size: 26px;
  color: green;
  opacity: 0;
  transition: all .3s;
}

div.add-task-button {
  margin: auto;
}

div.add-task-button i {
  font-size: 26px;
  color: green;
  margin-bottom: 15px;
}

div.add-task-button i:hover {
  opacity: .8;
  cursor: pointer;
}

.fa-minus-circle {
  float: right;
  color: red;
  position: relative;
  bottom: 28px;
  margin-right: 8px;
  font-size: 18px;
}

.fa-minus-circle:hover {
  opacity: .7;
  cursor: pointer;
}

