<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>UsabL</title>

	<!-- Bootstrap core CSS -->
	<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom fonts for this template -->
	<link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>

	<!-- Custom styles for this template -->
	<link href="css/grayscale.css" rel="stylesheet">

</head>
<div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
 aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<form name="signUpForm" action="/auth/signUp" method="post">
				<div class="modal-header">
					<h5 style="color:#000" class="modal-title" id="exampleModalLongTitle">Sign Up</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-lg-12 pt-2">
							<p style="color:#000">Username:</p>
							<div class="popup">
								<input type="text" name="username" id="signUpUsername" pattern="[A-Za-z0-9]{5,20}" placeholder="Username"
								 required>
								<span class="toolTipHide popuptext" id="signUpUsernameReqs">Username must be 5-20 characters and only
									contain letters and numbers.</span>
							</div>
							<p style="color:#000">Password:</p>
							<div class="popup">
								<input type="password" id="signUpPassword" placeholder="Password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
								 title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
								 required>
								<span class="toolTipHide popuptext" id="signUpPasswordReqs">Password must containt a lowercase,
									uppercase, number, and be at least 8 characters long.</span>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Sign Up</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
 aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<form name="signUpForm" action="/auth/signIn" method="post">
				<div class="modal-header">
					<h5 style="color:#000" class="modal-title" id="exampleModalLongTitle">Sign In</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-lg-12 pt-2">
							<p style="color:#000">Username:</p>
							<div class="popup">
								<input type="text" name="username" value="Riderjensen" id="username" pattern="[A-Za-z0-9]{5,20}" placeholder="Username"
								 required>
							</div>
							<p style="color:#000">Password:</p>
							<div class="popup">
								<input type="password" id="password" placeholder="Password" value="12345678Ah" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
								 title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
								 required>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Sign In</button>
				</div>
			</form>
		</div>
	</div>
</div>

<span style="position: fixed; top: 0; width: 100%; background-color: red; color: aqua; text-align: center;">
	<% if (typeof message != 'undefined' && message) { %>
			<%=message%>
		<% } %>

</span>
<body id="page-top">

	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
		<div class="container">
			<a class="navbar-brand js-scroll-trigger" href="#page-top">UsabL</a>
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
			 aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				Menu
				<i class="fa fa-bars"></i>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">

				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" data-toggle="modal" data-target="#signInModal" href="#">Sign In</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="modal" data-target="#signUpModal" href="#">Sign Up</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/auth/profile">Profile</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#start-test">Create a Test</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- Intro Header -->
	<header class="masthead">
		<div class="intro-body">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 mx-auto">
						<h1 class="brand-heading">UsabL</h1>
						<p class="intro-text">Make sure users can find what they need to.
							<br>Keep track of all the feedback you recieve.</p>
						<a href="#about" class="btn btn-circle js-scroll-trigger">
							<i class="fa fa-angle-double-down animated"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- About Section -->
	<section id="start-test" class="content-section text-center">
		<div class="container">
			<div class="row">
				<div class="col-sm-2 col-12"></div>
				<div class="col-12 col-sm-8">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title text-black">Testing</h5>
							<p class="card-text text-black">Add items for your user to complete. If your user needs to log in to
								complete some tasks then do not use this
								form. This report will contain more information on user interaction with page.</p>
							<form name="noLog" action="/site/" method="post">
								<div class="row text-black" style="margin-bottom: 20px">
									<div class="col-3">Name</div>
									<div class="col-9">
										<input class="form-control" name="testName" placeholder="Name of Test" value="My Great Test">
									</div>
								</div>
								<div class="row text-black" style="margin-bottom: 20px">
									<div class="col-3">1</div>
									<div class="col-9">
										<input class="form-control" name="task0" placeholder="Test Item" value="Our first test question">
									</div>
								</div>
								<div class="row text-black" style="margin-bottom: 20px">
									<div class="col-3">2</div>
									<div class="col-9">
										<input class="form-control" name="task1" placeholder="Test Item" value="Our second test question">
									</div>
								</div>
								<div class="row text-black" style="margin-bottom: 20px">
									<div class="col-3">3</div>
									<div class="col-8">
										<input class="form-control" name="task2" placeholder="Test Item" value="Our third test question">
									</div>
									<div class="col-1">
										<a href="">
											<i class="fa fa-plus-circle" aria-hidden="true"></i>
										</a>
									</div>
								</div>
								<div class="row">
									<div class="col-9">
										<input placeholder="URL" name="webURL" id="webURL" class="form-control" required>
									</div>
									<div class="col-3">
										<button type="submit" id="submit" class="btn btn-default btn-sm">Submit</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="col-sm-2 col-12"></div>
			</div>
		</div>
	</section>

	<!-- Download Section -->
	<section id="download" class="download-section content-section text-center">
		<div class="container">
			<div class="col-lg-8 mx-auto">
				<h2>Download Grayscale</h2>
				<p>You can download Grayscale for free on the preview page at Start Bootstrap.</p>
				<a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download
					Page</a>
			</div>
		</div>
	</section>

	<!-- Contact Section -->
	<section id="contact" class="content-section text-center">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 mx-auto">
					<h2>Contact Start Bootstrap</h2>
					<p>Feel free to leave us a comment on the
						<a href="http://startbootstrap.com/template-overviews/grayscale/">Grayscale template overview page</a>
						on Start Bootstrap to give some feedback about this theme!</p>
					<ul class="list-inline banner-social-buttons">
						<li class="list-inline-item">
							<a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg">
								<i class="fa fa-twitter fa-fw"></i>
								<span class="network-name">Twitter</span>
							</a>
						</li>
						<li class="list-inline-item">
							<a href="https://github.com/BlackrockDigital/startbootstrap" class="btn btn-default btn-lg">
								<i class="fa fa-github fa-fw"></i>
								<span class="network-name">Github</span>
							</a>
						</li>
						<li class="list-inline-item">
							<a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg">
								<i class="fa fa-google-plus fa-fw"></i>
								<span class="network-name">Google+</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<!-- Footer -->
	<footer>
		<div class="container text-center">
			<p>Copyright &copy; Your Website 2018</p>
		</div>
	</footer>

	<!-- Bootstrap core JavaScript -->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Plugin JavaScript -->
	<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for this template -->
	<script src="js/grayscale.js"></script>

</body>

</html>