<%- include('./includes/head.ejs') %>
</head>

<body id="page-top">

	<!-- Navigation -->
	<%- include('./includes/nav.ejs') %>

	<!-- Intro Header -->
	<header class="masthead">
		<div class="intro-body">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 mx-auto">
						<h1>Test Complete</h1>
						<a class="btn btn-primary" href="../">Home</a>
					</div>
				</div>
			</div>
		</div>
	</header>


	<%- include('./includes/footer.ejs') %>

</body>

</html>