<%- include('./includes/head.ejs') %>
</head>

<%- include('./includes/nav.ejs') %>

<body id="page-top">

	<!-- Intro Header -->
	<header class="masthead">
		<div class="intro-body">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 mx-auto">
						<h1>Your test is completed</h1>
						<p>Thank you for taking the time to take this test. Below are the questions and answers that you put during the
							test. Feel free to revise them. We also have a text area below to put any general thoughts that you would like.</p>
						<form action="/site/recordResults" id="completedForm" method="post">
							<input type="hidden" value="<%=userId%>" name="testID">

							<input type="submit" value="submit">
						</form>

					</div>
				</div>
			</div>
		</div>
	</header>


	<%- include('./includes/footer.ejs') %>
	<script src="../../js/completedTest.js"></script>
</body>

</html>