<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>UsabL</title>

	<!-- Bootstrap core CSS -->
	<link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom fonts for this template -->
	<link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>

	<!-- Custom styles for this template -->
	<link href="../css/grayscale.css" rel="stylesheet">

</head>

<body id="page-top">

	<!-- Intro Header -->
	<header class="masthead">
		<div class="intro-body">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 mx-auto">
						<h1>Your test is completed</h1>
						<p>Thank you for taking the time to take this test. Below are the questions and answers that you put during the
							test. Feel free to revise them. We also have a text area below to put any general thoughts that you would like.</p>
						<form action="/site/recordResults" method="post">
							<input type="hidden" value="<%=userId%>">
							add inputs here
							<input type="submit" value="submit">
						</form>

					</div>
				</div>
			</div>
		</div>
	</header>


	<!-- Footer -->
	<footer>
		<div class="container text-center">
			<p>Copyright &copy; Your Website 2018</p>
		</div>
	</footer>

</body>

</html>